<link rel="stylesheet" href="/stylesheets/style.css">
<title>My Skills</title>
<h1>Skills as of <%= time %></h1>
<ul>
  <% skills.forEach(function(skill) { %>
    <li>
      <form 
        action="/skills/<%= skill._id %>?_method=DELETE"
        class="delete-form"
        method="POST"
      >
        <button type="submit">X</button>
      </form>
      <a href="/skills/<%= skill._id %>"><%= skill.text %></a>
    </li>
  <% }) %>
</ul>
<a href="/skills/new">Add Skill</a>